<form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
    <!-- <app-input [control]?="cardForm.get('name')"></app-input> -->
    <app-input label="Ad Soyad" [control]="nameControl"></app-input>
    <app-input label="Kart Numarası" [control]="cardNumberControl"></app-input>
    <app-input label="Son Kullanma Tarihi" [control]="expirationControl"></app-input>
    <app-input label="Güvenlik Kodu" [control]="securityCodeControl"></app-input>
    <button class="button is-warning" (click)="ResetForm()" type="button">Temizle</button>
    <button class="button is-primary" [disabled]="cardForm.invalid" type="submit">Kaydet</button>
</form>

<div>Form içeriği: {{cardForm.value | json}}</div>
<div>Form valid mi: {{cardForm.valid | json}}</div>
<div>Form hataları: {{cardForm.get('name')?.errors | json}}</div>