<form [formGroup]="cardForm">
    <input type="text" formControlName="name">
    <ng-container 
    *ngIf="
    cardForm.get('name')?.dirty && 
    cardForm.get('name')?.touched &&
    cardForm.get('name')?.errors
    "
    >
        <div *ngIf="cardForm.get('name')?.errors?.['required']">
            *Zorunlu Alan.
        </div>
        <div *ngIf="cardForm.get('name')?.errors?.['minlength']">
            Girdiğiniz isim
            {{cardForm.get('name')?.errors?.['minlength']?.['actualLength']}}
            karakter içermektedir fakat minimum
            {{cardForm.get('name')?.errors?.['minlength']?.['requiredLength']}}
            karakter içermelidir.
        </div>
    </ng-container>
</form>

<div>Form içeriği: {{cardForm.value | json}}</div>
<div>Form valid mi: {{cardForm.valid | json}}</div>
<div>Form hataları: {{cardForm.get('name')?.errors | json}}</div>